* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

#window {
  font-weight: bold;
  font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  color: #c9545d;
  border-top: 2px solid #c9545d;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#mode,
#custom-wall,
#idle_inhibitor,
#custom-weather,
#custom-media,
#backlight,
#language,
#custom-audio_idle_inhibitor,
#custom-scratchpad_indicator,
#custom-powermenu {
  padding: 0 8px;
  margin: 0 2px;
}

#clock {
  font-weight: bold;
}

#battery {
}

#language {
}

#battery icon {
  color: red;
}

#battery.charging {
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
}

#memory {
}

#custom-wall {
}

#custom-media {
}

#idle_inhibitor {
}

#custom-weather {
}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}
